*.pyc
__pycache__
.DS_STORE
.ipynb_checkpoints/
.vscode/
mastDownload/
raw/
*red*/
*temp*/
launch.sh
*.sh
*.fits
*.coo
*.log
*.txt
*.csv
*.png
*.dat
*.phot
*.columns
*.pages
plots.ipynb
pipeline.ipynb
bug.ipynb
process_data.ipynb
